.advantages {
  background-color: #f2f2f2;
  padding-top: 81px;
  height: 697px;
  width: 320px;
  margin: 40px auto 0;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 82px 500px;



@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }

  &::before {
    content: url(../img/bg-triangle-white.svg);
    position: absolute;
    /* width: 320px; */
    height: -5px;
    /* background-size: 320px 50px; */
    top: 1177px;
    left: -251px;
    color: #ffffff;
  }



  &__wrapper {
      width: 280px;
    margin: 0 auto;
  }
  &__item {

  }

  &__item-img {
    display: none;
  }

  &__title {
    line-height: 10px;
    font-size: 18px;
    color: #000000;
    margin-top: 0;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 260px;
    margin: 17px auto 39px;
  }
}
@media (min-width: @tablet-width) {
  .advantages {
    width: 660px;
    height: 463px;
    padding-top: 25px;
//    background-image: url("../img/iphone-screen-3-tablet@1x.png");
//    background-repeat: no-repeat;
//    background-position: 20px 0px;
    background-image: none;


 &::before {
top: 1206px;
    left: -185px;

  }


    &::after {
      content: url("../img/iphone-screen-3-tablet@1x.png");
      position: relative;
      top: -473px;
      left: 20px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
    }




     &__wrapper {
      width: 620px;
    margin: 0 auto;
       display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
       margin-top: 53px;
  }

    &__item {
      outline: 1px dashed black;
      width: 310px;




    box-sizing: border-box;

    }
     &__item img {
    display: none;
  }
     &__title {
      line-height: 24px;
      text-align: left;
       font-weight: bold;
       margin-bottom: -5px;
    }

    &__description {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
    margin-bottom: 35px;
      width: 310px;
    }
  }
//  .advantages__wrapper::before {
//    content: url("../img/iphone-screen-mobile@1x.png");
//    top: 100px;
//    left: 0px;
//    position: absolute;
//    background-repeat: no-repeat;
//  }
}
@media (min-width: @desktop-width) {
  .advantages {
//    display: flex;
//    flex-direction: row;
//    padding: 0 130px 0 130px;
//    justify-content: space-between;
//     height: 470px;
//    align-items: flex-end;
    width: 1200px;
    margin: 0 auto;
    height: 560px;

     &::before {
   top: 1176px;
    left: 57px;

  }

    &::after {
      display: none;
    }

         &__wrapper {
      width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
//    padding: 0 130px 0 130px;
    justify-content: space-between;
     height: 541px;
    align-items: flex-end;
           padding-left: 30px;
           padding-right: 30px;
           box-sizing: border-box;
  }

    &__item {
      width: 235px;
    height: 210px;
    margin-right: 0;
    }

    &__item:first-of-type::after {
      content: url("../img/iphone-screen-1-desktop@1x.png");
      position: relative;
      top: -597px;
      left: -24px;
      width: 180px;

       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
    }
       &__item:nth-of-type(2)::after {
      content: url("../img/iphone-screen-2-desktop@1x.png");
      position: relative;
      top: -597px;
      left: -22px;
      width: 180px;

       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
    }

        &__item:nth-of-type(3)::after {
      content: url("../img/iphone-screen-3-desktop@1x.png");
      position: relative;
      top: -597px;
      left: -22px;
      width: 180px;

       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
    }

     &__title {
       text-align: center;
    color: #000000;
       font-size: 30px;
       line-height: 30px;
    margin-bottom: -5px;
    font-weight: bold;

    padding-bottom: 28px;
    }

    &__description {
      text-align: center;

    margin-top: 0;
      font-size: 18px;
      line-height: 30px;
    margin-bottom: 35px;

    box-sizing: border-box;
    width: 238px;
    }
  }
}
