.advantages {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  color: #283645;

  &__title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
  }
}
