.competition {

  &__title {
    width: 320px;
    margin: 0 auto;
    height: 239px;
    background-repeat: no-repeat;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-size: cover 400px;
    background-position: center -56px;
    background-size: auto 400px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }

  &__title h1 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 55px;
    list-style: none;
    height: 172px;
    font-weight: lighter;
    box-sizing: border-box;
    padding-top: 94px;
    text-align: center;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
  }

  &__text {
    color: #283645;
    text-align: center;
    width: 280px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 43px;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;

    span {
      display: none;
    }
  }

  &__name, &__progress, &__contacs, &__os, &__feedback {
    border: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  &__name input, &__contacs input {
    width: 280px;
    height: 60px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 18px;
    padding-left: 15px;
    border: none;
    box-sizing: border-box;
    outline: 2px solid #e5e5e5;
    text-indent: 10px;
  }

  &__name {
    height: 362px;
    width: 280px;
    margin: 0 auto;

    &-item {
      color: #d22856;
      text-transform: uppercase;
      font-size: 14px;
      padding-top: 0;
      padding-left: 20px;
    }
  }

  &__progress {
    height: 605px;
    background-color: #f2f2f2;
    width: 320px;
    margin: 0 auto;
    margin-top: 9px;

    &-wrapper {
      width: 280px;
      margin: 0 auto;
    }

    &-title {
      color: #d22856;
      font-size: 14px;
      text-transform: uppercase;
      padding-top: 39px;
      padding-bottom: 32px;
      line-height: 18px;
      text-align: center;
      margin: 0 auto;
      width: 230px;
      height: 45px;
    }

    input[type="checkbox"] {
      display: none;
    }

    &-wrap {
      position:relative;
      display:block;
      margin-bottom: 52px;

      label {
        padding-left: 71px;
      }
    }

    input[type="checkbox"]+label::before {
      display: block;
      position: absolute;
      content: "";
      background-color: #ffffff;
      outline: 1px solid #e5e5e5;
      top: -2px;
      left: 2px;
      width: 35px;
      height: 35px;
    }

    input[type="checkbox"]:checked+label::before {
      background-image: url("../img/icon-checked.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    input[type="checkbox"]:hover+label::before, label:hover::before{
      outline-color: #283645;
    }

    input[type="checkbox"]:active+label::before, label:active::before {
      outline-color: #d22856;
    }
  }

  &__contacs {
    height: 287px;
    padding-top: 29px;
    width: 280px;
    margin: 0 auto;

    svg {
      display: none;
    }

    &-text {
      display: none;
    }

    &-item {
      color: #d22856;
      text-transform: uppercase;
      font-size: 14px;
      padding-top: 0;
      padding-left: 23px;
    }
  }

  &__os {
    height: 340px;
    padding-top: 30px;
    background-color: #f2f2f2;
    width: 320px;
    margin: 0 auto;

    &-wrapper {
      width: 280px;
      margin: 0 auto;
    }

    &-text {
      font-size: 14px;
      line-height: 18px;
      padding-top: 7px;
      text-transform: uppercase;
      color: #d22856;
      text-align: center;
      margin-top: 0;
      margin-bottom: 40px;
    }

    input[type="radio"] {
      display: none;
    }

    &-wrap {
      position:relative;
      display:block;
      margin-bottom: 44px;

      label {
        padding-left: 71px;
      }
    }

    input[type="radio"]+label::before {
      display: block;
      position: absolute;
      content: "";
      background-color: #ffffff;
      border: 1px solid #e5e5e5;
      border-radius: 50%;
      top: -3px;
      left: 1px;
      width: 35px;
      height: 35px;
    }

    input[type="radio"]:checked+label::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 7px;
      left: 13px;
      border-radius: 50%;
      background-color: #d22856;
      background-position: center;
    }

      input[type="radio"]:hover+label::before, label:hover::before {
        border:  1px solid #283645;
      }

      input[type="radio"]:active+label::before, label:active::before  {
        border:  1px solid #d22856;
      }
  }

  &__feedback {
    height: 275px;
    padding-top: 32px;
    width: 280px;
    margin: 0 auto;

    &-title {
      font-size: 14px;
      line-height: 18px;
      padding-top: 5px;
      text-transform: uppercase;
      color: #d22856;
      text-align: center;
      margin-top: 0;
      margin-bottom: 16px;
    }

    textarea {
      width: 278px;
      margin-bottom: 18px;
      padding-top: 16px;
      font-size: 18px;
      line-height: 30px;
      height: 200px;
      box-sizing: border-box;
      padding-left: 21px;
      border: none;
      resize: none;
      outline: 2px solid #e5e5e5;
    }
  }

  &__button {
    margin: 44px auto 44px;
    width: 280px;

    button {
      background-color: #2aab6d;
      width: 280px;
      height: 65px;
      color: #ffffff;
      font-family: inherit;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      font-size: 18px;
      line-height: 30px;
    }

    button:hover {
      background-color: #1c9b5e;
    }

    button:active {
      background-color: #1c9b5e;
      color: rgba(255,255,255, 0.3);
    }

    &-title {
      text-align: center;
      margin-top: 0;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 34px;
      margin-bottom: -31px;

      span {
        color: #d22856;
      }
    }
  }

  input:hover {
    outline-color: #283645;
  }

  input:active {
    outline-color: #d22856;
  }
}
@media (min-width: @tablet-width) {
  .competition {

    &__icon-phone, &__icon-mail{
      fill: #d22856;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 620px;
      margin: 0 auto;
    }

    &__title {
      height: 397px;
      padding-top: 74px;
      box-sizing: border-box;
      width: 660px;
      margin: 0 auto 16px;
      background-size: auto 615px;
      background-position-y: -64px;
      background-image: url(../img/bg-back-tablet@1x.jpg);

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }

    &__title h1 {
      width: 496px;
      height: 177px;
      font-size: 50px;
      line-height: 55px;
      padding-top: 73px;
      font-weight: lighter;
    }

    &__name input, &__contacs input {
      margin-left: 20px;
      padding: 0;
    }

    &__text {
      width: 505px;
      height: 95px;
      line-height: 30px;
      margin-top: 93px;
      margin-bottom: 61px;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;

      span {
        display: block;
      }
    }

    &__name {
      width: 620px;
      height: 309px;
      margin-bottom: 54px;

      &-item {
        display:flex;
        margin-bottom:30px;
        align-items:center;
        padding-left: 0;
        padding-right: 20px;
        margin-top: -5px;
      }

      &-item input {
        width: 520px;
        margin-top: 10px;
        padding-left: 13px;
        font-size: 18px;
      }

      &-item:nth-of-type(2) input {
        width: 561px;
        margin-bottom: 20px;
      }
    }

    &__os {
      background-color: #ffffff;
      height: 298px;
      padding-top: 0;
      order: 1;
      margin-bottom: 69px;
      outline: 1px solid #e5e5e5;

      &-wrapper {
        width: 620px;
        padding-left: 55px;
        box-sizing: border-box;
      }

      &-item input {
        margin-bottom: 35px;
        margin-right: 25px;
      }

      &-text {
        padding-left: 0;
        position: relative;
        left: 70px;
        top: -14px;
        width: 366px;
        background-color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
      }

      input[type="radio"]+label::before {
        top: -1px;
        left: 5px;
      }

      input[type="radio"]:checked+label::after {
        top: 10px;
        left: 16px;
      }

      &-wrap{
        margin-bottom: 45px;

        label {
          padding-left: 65px;
        }
      }
    }

    &__contacs {
      height: 307px;
      padding-top: 0;
      position: relative;
      outline: 1px solid #e5e5e5;
      order: 2;
      width: 620px;
      margin-bottom: 57px;

      svg:first-of-type {
        display: block;
        position: absolute;
        top: 67px;
        right: 84px;
      }

      svg:nth-of-type(2) {
        display: block;
        position: absolute;
        top: 199px;
        fill: #d22856;
        right: 84px;
      }

      &-text {
        color: #d22856;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        top: -30px;
        left: 180px;
        width: 257px;
        background-color: #ffffff;
        position: relative;
        display: block;
        margin-bottom: 0;
      }

      &-mail path{
        fill: #d22856;
      }

      &-item {
        color: #d22856;
        text-transform: uppercase;
        font-size: 14px;
        padding-top: 0;
        padding-left: 40px;
      }

      input {
        margin-top: 0;
        width: 433px;
        margin-left: 60px;
        margin-bottom: 75px;
        position: relative;
        display: block;
        padding-left: 10px;
      }

      label::after {
        position: absolute;
        content: "";
        top: -77px;
        right: -349px;
        width: 64px;
        height: 64px;
        background-color: #e5e5e5;
      }

      label:last-of-type::after {
        position: absolute;
        content: "";
        top: -72px;
        right: -380px;
        width: 64px;
        height: 64px;
      }

      label:first-of-type {
        position: absolute;
        top: 119px;
        left: 40px;
      }

      label:last-of-type {
        position: absolute;
        top: 249px;
        left: 40px;
      }
    }

    &__progress {
      background-color: #ffffff;
      order: 3;
      height: 550px;
      outline: 1px solid #e5e5e5;
      width: 620px;
      margin-bottom: 68px;

      &-wrap label {
        padding-left: 61px;
      }

      &-wrapper {
        width: 503px;
        margin-top: 10px;
      }

      input {
        margin: 0 25px 50px 60px;
      }

      &-title {
        width: 431px;
        padding: 0;
        position: relative;
        top: -9px;
        background-color: #ffffff;
      }
    }

    &__feedback {
      width: 620px;
      padding-top: 0;
      order: 4;
      height: 291px;
      outline: 1px solid #e5e5e5;
      margin-bottom: 13px;

      &-title {
        padding: 0;
        width: 258px;
        background-color: #ffffff;
        position: relative;
        top: -8px;
        left: 181px;
      }

      textarea {
        width: 497px;
        height: 188px;
        margin: 30px auto 50px;
        display: block;
      }
    }

    &__button {
      width: 620px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      order: 5;
      margin-top: 53px;

      &-title {
        margin-top: 21px;
      }

      button {
        width: 300px;
        height: 65px;
      }
    }
  }
}
@media (min-width: @desktop-width) {
  .competition {
    display: block;

    &__title {
      width: 1200px;
      padding-top: 183px;
      height: 393px;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-size: auto 853px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
    }

    &__wrapper {
      width: 940px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: -64px;
    }

    &__title h1 {
      width: 777px;
      height: 110px;
      padding-top: 0;
      margin-top: -5px;
    }

    &__text {
      width: 772px;
      height: 68px;
      font-size: 18px;
      line-height: 30px;
      padding-top: 0;
      margin-bottom: 72px;
      margin-top: 91px;

      span {
        display: inline;
      }
    }

    &__os {
      outline: none;

      &-text {
        left: -38px;
        top: -16px;
      }

      input[type="radio"]+label::before {
        top: -4px;
        left: 5px;
      }

      input[type="radio"]:checked+label::after {
        top: 7px;
        left: 16px;
      }

      &-wrap {
        margin-bottom: 45px;
        margin-top: 36px;

        label {
        padding-left: 64px;
        }
      }

      &-item input {
        margin-left: 20px
      }

      &-wrapper {
        width: 432px;
        padding-left: 68px;
        margin-right: 0;
        height: 297px;
        outline: 1px solid #e5e5e5;
      }
    }

    &__name, &__os {
      width: 470px;
      height: 330px;
      box-sizing: border-box;
      margin: 0;
    }

    &__name {
      margin-bottom: 36px;

      input {
        margin-right: 11px;
        margin-left: 21px;
        margin-bottom: 22px;
        width: 334px;
        margin-top: 14px;
        font-size: 18px;
      }

      &-item {
        margin-bottom: 28px;
        margin-top: -7px;
      }

      &-item:nth-of-type(2) input{
        margin-bottom: 20px;
        width: 377px;
      }

      &__name label:nth-of-type(2) input {
        width: 380px;
      }
    }

    &__contacs {
      width: 940px;
      height: 159px;
      margin-bottom: 60px;

      input:nth-of-type(2) {
        position: relative;
        top: -136px;
        left: 445px;
      }

      &-text {
        padding-bottom: 0px;
        left: 341px;
      }

      svg:first-of-type {
        top: 63px;
        z-index: 2;
        right: 527px;
      }

      svg:nth-of-type(2) {
        top: 64px;
        z-index: 2;
        right: 82px;
      }

      label:first-of-type {
        left: 39px;
        top: 116px;
      }

      label:last-of-type {
        top: 116px;
        left: 484px;
      }

      label::after {
        position: absolute;
        content: "";
        top: -74px;
        right: -230px;
        width: 64px;
        height: 64px;
      }

      label:last-of-type::after {
        position: absolute;
        content: "";
        top: -75px;
        right: -261px;
        width: 64px;
        height: 64px;
      }

      input {
        width: 313px;
        height: 60px;
        padding-left: 9px;
      }
    }

    &__progress {
      height: 231px;
      width:100%;

      &-wrapper {
        width: 940px;
        padding-left: 60px;
        padding-right: 20px;
        justify-content: space-between;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        label {
          width: 260px;
          height: 60px;
          display: block;
        }

        div {
          margin: 0;
          margin-bottom: 25px;
          width: 255px;
        }

        div:nth-of-type(1) {
          order: 0;

          input[type="checkbox"]+label::before {
            top: 0px;
            left: 2px;
          }

          label {
            padding-left: 60px;
            padding-top: 3px;
          }
        }

        div:nth-of-type(2)  {
          order: 4;

          input[type="checkbox"]+label::before {
            top: -6px;
            left: 2px;
          }

          label {
            padding-left: 59px;
            margin-top: -4px;
          }
        }

        div:nth-of-type(3)  {
          order: 1;

          input[type="checkbox"]+label::before {
            top: 0px;
            left: 14px;
          }

          label {
            padding-left: 72px;
            padding-top: 3px;
          }
        }

        div:nth-of-type(4) {
          order: 5;

          input[type="checkbox"]+label::before {
            top: -6px;
            left: 14px;
          }

          label {
            padding-left: 72px;
            margin-top: -4px;
          }
        }

        div:nth-of-type(5)  {
          order: 3;

          input[type="checkbox"]+label::before {
            top: 0px;
            left: 7px;
          }

          label {
            padding-left: 65px;
            padding-top: 2px;
          }
        }

        div:nth-of-type(6) {
          order: 6;

          input[type="checkbox"]+label::before {
            top: -6px;
            left: 7px;
          }

          label {
            padding-left: 65px;
            margin-top: -4px;
          }
        }
      }

      input {
        margin-left: 0;
      }
    }

    &__feedback {
      width: 940px;
      height: 215px;

      &-title {
        left: 341px;
      }

      textarea {
        width: 820px;
        height: 123px;
        margin: 26px auto 45px;
        padding-top: 14px;
      }
    }

    &__button {
      width: 940px;
      margin-top: 50px;

      &-title {
        align-self: center;
        margin-top: -30px;
      }

      .visually-hidden {
        display: inline-block;
        color: inherit;
      }
    }
  }
}
