.intro {
  height: 700px;
  background-color: #1d2631;
  width: 320px;
  margin: 0 auto;

  &__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  &__h1 {
    display: none;
  }

  &__downland {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 280px;
    height: 49px;
    border: 2px solid white;
    text-align: center;
    padding-top: 13px;
    border-radius: 50px;
    margin: 30px 0 30px;
    box-sizing: border-box;
    line-height: 18px;
  }

  &__list {
   width: 206px;
    outline: 1px dashed white;
    list-style: none;
    display: flex;
    height: 57px;
    margin: 0 37px 28px;
    padding: 0;
  }

  &__item {
    list-style: none;
    display: inline-block;
  }

  &__text {
    color: white;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin: 0;

  }

  &__img {
    height: 400px;
//    width: 320px;
    outline: 1px dashed white;
  }
}
@media (min-width: @tablet-width) {
  .intro {
    height: 620px;
    padding-top: 104px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 660px;

 &__wrapper {
    width: 620px;
    margin: 0 auto;
  }
    &__img {
      display: none;
    }

    &__h1 {
      display: block;
      margin: 0;
      width: 300px;
      height: 135px;
      outline: 1px dashed white;
      text-align: center;
      color: #ffffff;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px;
      font-weight: normal;
      padding-left: 55px;
      padding-right: 52px;
      box-sizing: border-box;
      margin-bottom: 35px;
    }

    &__downland {
      margin: 0;
      width: 300px;
      margin-bottom: 45px;
    }

    &__list {
      margin-bottom: 40px;
    }

    &__text {
      font-size: 18px;
      text-align: inherit;
    }
  }
}
@media (min-width: @desktop-width) {
  .intro {
    height: 745px;
    padding-top: 115px;
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;

     &__wrapper {
    width: 940px;
    margin: 0 auto;
  }
&__wrapper {
    width: 940px;
    margin: 0 auto;
  }
    &__img {
      display: none;
    }

    &__h1 {
      display: block;
      margin: 0;
      width: 300px;
      height: 135px;
      outline: 1px dashed white;
      text-align: center;
      color: #ffffff;
      font-size: 50px;
      line-height: 40px;
      font-weight: normal;
      padding-left: 30px;
      padding-right: 32px;
      box-sizing: border-box;
      margin-bottom: 60px;
    }

    &__downland {
      margin: 0;
      width: 300px;
      margin-bottom: 60px;
    }

    &__list {
      margin-bottom: 60px;
    }

    &__text {
      font-size: 18px;
      text-align: inherit;
    }
  }
}
