.intro {


      height: 700px;
    background-color: #1d2631;
    width: 320px;
    margin: 0 auto;

    box-sizing: border-box;
    padding-top: 400px;
    background-repeat: no-repeat;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-size: cover 400px;
    background-position: center -4px;
    background-size: auto 400px;

//  background-image: url("../img/iphone-hand-mobile@1x.png");




    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }


  &__wrapper {
    width: 280px;
    margin: 0 auto;
  }

    &::after {
     content: url("../img/iphone-hand-mobile@1x.png");
      position: relative;
      bottom: 532px;
      left: 0px;
      width: 258px;
      height: 286px;

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }


    }

  &__h1 {
    display: none;
  }

  &__downland {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 280px;
    height: 49px;
    border: 2px solid white;
    text-align: center;
    padding-top: 13px;
    border-radius: 50px;
    margin: 30px 0 30px;
    box-sizing: border-box;
    line-height: 18px;
  }

  &__list {
   width: 206px;
    outline: 1px dashed white;
    list-style: none;
    display: flex;
    height: 57px;
    margin: 0 37px 28px;
    padding: 0;
  }

  &__item {
    list-style: none;
    display: inline-block;
  }

  &__text {
    color: white;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin: 0;

  }


}
@media (min-width: @tablet-width) {
  .intro {
  padding-top: 104px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 660px;
    height: 620px;
    background-size: auto 620px;
    background-image: url(../img/bg-back-tablet@1x.jpg);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

 &__wrapper {
    width: 620px;
    margin: 0 auto;
   position: relative;
   z-index: 1;
  }
    &::after {
         content: url("../img/iphone-hand-tablet@1x.png");
      position: relative;
      bottom: 438px;
      left: -19px;
      width: 700px;
      height: 545px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
    }

//   &__wrapper::after {
////     content: url("../img/iphone-hand-tablet@1x.png");
////      position: relative;
////      bottom: 438px;
////      left: -19px;
////      width: 700px;
////      height: 545px;
//     display: none;
//    }

    &__h1 {
      display: block;
      margin: 0;
      width: 300px;
      height: 135px;
      outline: 1px dashed white;
      text-align: center;
      color: #ffffff;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px;
      font-weight: normal;
      padding-left: 55px;
      padding-right: 52px;
      box-sizing: border-box;
      margin-bottom: 35px;
    }

    &__downland {
      margin: 0;
      width: 300px;
      margin-bottom: 45px;
    }

    &__list {
      margin-bottom: 40px;
    }

    &__text {
      font-size: 18px;
      text-align: inherit;
    }
  }
}

@media (min-width: @desktop-width) {
  .intro {
    height: 853px;
    padding-top: 224px;
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    position: relative;

        background-image: url("../img/bg-back-desktop@1x.jpg");
    outline: 1px dashed white;
    background-size: auto 853px;



    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

     &::after {
         content: url("../img/iphone-hand-desktop@1x.png");
      position: relative;
      bottom: 485px;
      left: 16px;
      width: 700px;
      height: 545px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
    }





&__wrapper {
    width: 940px;
    margin: 0 auto;
  position: relative;
  }


    &__h1 {
      display: block;
      margin: 0;
      width: 300px;
      height: 135px;
      outline: 1px dashed white;
      text-align: center;
      color: #ffffff;
      font-size: 50px;
      line-height: 40px;
      font-weight: normal;
      padding-left: 30px;
      padding-right: 32px;
      box-sizing: border-box;
      margin-bottom: 60px;
    }

    &__downland {
      margin: 0;
      width: 300px;
      margin-bottom: 60px;
    }

    &__list {
      margin-bottom: 60px;
    }

    &__text {
      font-size: 18px;
      text-align: inherit;
    }
  }
}
