.contacs {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  &__title {
    color: #283645;
    margin-bottom: 40px;
  }
  &__number-mobile,
  &__mail-text,
  &__adress-title {
    color: #283645;
    font-size: 18px;
    margin-bottom: 30px;
  }
  &__number,
  &__mail,
  &__adress {
    color: #d22856;
    text-decoration: none;
  }
}
