.page-header {
//  background-color: lighten(#1d2631, 30%);
  min-height: 65px;
  padding: 0;
  width: 320px;
  margin: 0 auto;
  background-color: #283645;

  &__wrapper {
//    width: 320px;
//    margin: 0 auto;
    display: flex;
    flex-direction: column;
//    padding: 20px 0;
    justify-content: space-between;
  }

  &__logo {
    display: block;

    height: 70px;
    outline: 1px dashed black;
    padding-left: 20px;
    padding-top: 8px;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 110px;
    width: 660px;

    &__logo {
//      padding-left: 20px;
    }

    &__wrapper {
          display: flex;
//    padding: 25px 20px;
    justify-content: space-between;
//      margin: 0 auto;
  }

//    &__logo:nth-of-type(2) {
//      display: block;
//    width: 150px;
//    height: 60px;
//    outline: 1px dashed;
//    }
  }
}
@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
    padding-top: 20px;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    right: 0;
    left: 0;


    z-index: 1;

//    display: flex;
//    padding-left: 130px;
//    padding-right: 130px;
//    box-sizing: border-box;

    &__logo {

    }

    &__wrapper {
    width: 940px;
       display: flex;
      flex-direction: row;
      margin: 0 auto;
  }


//    &__logo:nth-of-type(2) {
//      display: block;
//    width: 150px;
//    height: 60px;
//    outline: 1px dashed;
//    }
  }
}
