.page-footer {
  box-sizing: border-box;

  &__pink {
    padding-left: 21px;
    padding-bottom: 34px;
    display: block;

    &:hover .page-footer__logo-pink, &:hover .page-footer__logo-glass, &:hover .page-footer__logo-glasses, &:hover .page-footer__logo-star {
      fill: #d22856;

    }
    &:active .page-footer__logo-pink, &:active .page-footer__logo-star,  {
      fill: rgba(40,54,69, 0.3);

    }
    &:active .page-footer__logo-stars, &:active .page-footer__logo-glass, &:active .page-footer__logo-glasses {
      fill: rgba(210,40,86, 0.3);
    }
  }

  &__copyright {
    width: 150px;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    /* padding-top: 0px; */
    /* margin-top: -9px; */
    padding-left: 19px;
    line-height: 18px;

    &-item {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      /* padding-top: 18px; */
      font-size: 14px;
      line-height: 18px;
      margin-top: 9px;

      object {
        right: 18px;
        top: 3px;
        position: absolute;
      }
    }

    &-htmlacademy {
      fill: #d22856;
    }

    svg {
      right: 12px;
      top: -2px;
      position: absolute;
      width: 42px;
    }

    &:hover &-htmlacademy {
      fill: #283645;
    }

    &:active &-htmlacademy {
      fill: #bec2c7;
    }

    &-item {
      text-decoration: none;
      color: inherit;
    }
  }

  &__list {
    width: 32px;
    height: 32px;
    color: #d22856;
  }

  &__logo {
    width: 190px;
    height: 284px;
    margin: 0 auto;
    padding-top: 42px;
    box-sizing: border-box;

    &-index {
      display: none;
    }
  }

  &__map {
    position:relative;
    left:0;
    width: 100vw;
    height: 200px;
    overflow: hidden;
    min-width:320px;

    &::before {
      content: "";
      background-image:url("../img/bg-triangle-white-footer.svg");
      background-repeat:no-repeat;
      background-size:contain;
      position: absolute;
      top: -2px;
      left:~"calc(50% - 320px / 2)";
      width:320px;
      z-index:10;
      height:33px;
    }
  }
}
@media (min-width: @tablet-width) {
  .page-footer {
    height: 115px;

    &__logo {
      display: flex;
      justify-content: space-between;
      padding-top: 27px;
//      padding-top: 27px;
      width: 620px;
      height: 115px;
      margin: 0 auto;
      box-sizing: border-box;
//       position: relative;

      &-index {
        display: flex;
        justify-content: space-between;
        padding-top: 39px;
        //      padding-top: 27px;
        width: 620px;
        height: 115px;
        margin: 0 auto;
        box-sizing: border-box;
      }
    }

    &__pink {
      padding-left: 0;
      padding-bottom: 0;
      height: 41px;
    }

    &__list {
      padding-bottom: 35px;
    }

    &-text {
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
    }

    &__copyright {
      position: relative;
      /* padding-right: 35px; */
      margin: 0;
      height: 50px;
      width: 127px;

      &-item {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        border-top:27px solid transparent;
        font-size: 14px;
        line-height: 18px;
        margin-top: -7px;

        object {
          right: -2px;
          top: 13px;
          position: absolute;
        }
      }

      svg {
        right: -8px;
        top: 10px;
        position: absolute;
        width: 42px;
      }
    }
//    &__copyright::before {
//      content: url("../img/htmlacademy.svg");
//      position: absolute;
//      top: 0;
//      right: 0;
//      width: 30px;
//      height: 36px;
//    }

    &__map {
      height: 375px;
      margin-top: 10px;

      &::before {
        height:72px;
        left:calc(~"50% - "@tablet-width~" / 2");
        width:@tablet-width;
      }
    }
  }
}
@media (min-width: @desktop-width) {
  .page-footer {
    height: 198px;
    box-sizing: border-box;

    &__logo {
      padding-top: 72px;
      width: 940px;
      box-sizing: border-box;
      height: 198px;

      &-index {
        display: block;
        margin-left:-2px;
        padding-top: 72px;
        width: 940px;
        height: 198px;
        display: flex;
        justify-content: space-between;
        //       padding-top: 35px;
        //      padding-top: 27px;

        margin: 0 auto;
        box-sizing: border-box;
        //       position: relative;
      }
    }

    &__copyright {
      width: 153px;

      svg {
        right: -10px;
        top: 13px;
      }

      &-item {
        border-top:28px solid transparent;
        font-size: 18px;
        line-height: 18px;

        object {
          right: 2px;
          top: 17px;
          position: absolute;
        }
      }
    }

    &__map {

      margin-top: -4px;
      height: 509px;
      margin-bottom: 0;

      &::before {
        height:128px;
        left:calc(~"50% - " @desktop-width~" / 2");
        width:@desktop-width;
      }
    }

    &__social {
       padding-left: 0;
    }
  }
}
