.price {
  background-color: #f2f2f2;

  &__list {
    list-style: none;
  }

  &-slider {
    &__item {
      font-family: "Open Sans", sans-serif;
      color: #283645;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;
    }

    &__item:first-child {
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      background-color: #283645;
    }
  }
}
