.social {
    margin-bottom: 35px;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 180px;
    //padding-left: 0;
    //padding-bottom: 35px;
    margin: 0;
    padding-left: 6px;
    padding-top: 0px;
  }

  &__item {
    list-style: none;
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #e9ebec;
    border-radius: 50%;

    &:hover {
      border-color: #283645;
      background-color: #fefefe;
    }

    &:active {
      border-color: #e9ebec;
      background-color: #ffffff;
    }

    &:active &-twitter {
      fill: rgba(210,40,86, 0.3);
    }

    &:active &-facebook {
      fill: rgba(210,40,86, 0.3);
    }

    &:active &-youtube {
      fill: rgba(210,40,86, 0.3);
    }

    &-twitter, &-facebook, &-youtube {
      fill: #d22856;
    }
  }

  &__link {
    color: #d22856;
    display: inline-block;

    &-twitter {
      padding-left: 16px;
      padding-top: 8px;
      padding-right: 15px;
    }

    &-facebook {
      padding-left: 18px;
      padding-top: 10px;
      padding-right: 15px;
    }

    &-youtube {
      padding-left: 18px;
      padding-top: 7px;
      padding-right: 15px;
    }
  }
}
@media (min-width: @tablet-width) {
  .social {

    &__list {
      padding-left: 0px;
      padding-top: 4px;
    }
  }
}
@media (min-width: @desktop-width) {
  .social {

    &__list {
      padding-left: 29px;
      padding-top: 6px;
    }
  }
}
