.upload {
  background-color: #f2f2f2;
  width: 320px;
  margin: 0 auto 40px;
  padding-bottom: 40px;

  &__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  &__photo {
    padding-bottom: 40px;
  }

  &__button {

    button {
      font-size: 18px;
      line-height: 18px;
      display: block;
      width: 275px;
      height: 50px;
      border-radius: 50px;
      background-color: #f2f2f2;
      font-weight: bold;
    }

    &-downland {
      border: 2px solid #d22856;
      color: #d22856;
      margin-bottom: 10px;
    }

    &-cancel {
      border: 2px solid #dddfe0;
      color: #dddfe0;
    }
  }

  &__function {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-left: 35px;
    margin-bottom: 30px;
    align-content: center;

    button {
      border: none;
      background-color: inherit;
    }
  }

  &__range input:not(:first-child) {
    display: none;
  }

  &__toggle {
    margin-left: 15px;
    margin-right: 15px;
    width: 250px;
    margin-bottom: 65px;
  }
}
@media (min-width: @tablet-width) {
  .upload {
    padding-bottom: 0;
    width: 660px;
    margin: 0 auto 0;

    &__wrapper {
      width: 620px;
      margin: 60px auto 0px;
      padding-top: 60px;
      padding-bottom: 50px;
      height: 515px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      &-item {
        display: flex;
        flex-wrap: wrap;
        width: 280px;
      }
    }

    &__photo {
      width: 300px;
      height: 400px;
      padding-bottom: 0;
    }

    &__function {
      flex-direction: column;
      align-items: flex-start;
      width: 40px;
      margin-left: 0;

      button {
        padding-bottom: 45px;
        width: 40px;
      }

      &-bright {
        padding-left: 11px;
        width: 35px;
      }
    }


    &__range {
       width: 200px;
      padding-left: 30px;

      input {
        width: 200px;
      }


     input:nth-of-type(2), input:nth-of-type(3) {
      display: block;
    }
    }


    &__button {
      margin: 0 auto;

      &-downland {
        margin-bottom: 24px;
      }
    }


  }
}
@media (min-width: @desktop-width) {
  .upload {
    width: 1200px;
    &__wrapper {
      margin-top: 0;
      width: 800px;

      &-item {
        width: 410px;
        outline: 1px dashed black;
      }
    }
    &__range {
       width: 295px;
      padding-left: 30px;

      input {
        width: 295px;
      }
    }

    &__function {
      margin-left: 0;
      height: 205px;

       &-bright {
          width: 65px;
          padding-top: 10px;
        }

      button {
        width: 60px;
      }


      }


    &__button {
      display: flex;
      justify-content: space-between;
      width: 414px;

      button {
        width: 183px;
      }
    }



  }
}
