.upload {
  background-color: #f2f2f2;
  width: 320px;
  margin: 0 auto 0px;
  padding-bottom: 40px;

  &__wrapper {
    width: 280px;
    margin: 0 auto;
    padding-top: 22px;

    &-item {
      margin-top: 31px;
    }
  }

  &__photo {
    padding-bottom: 40px;
  }

  &__button {

    button {
      font-size: 18px;
      line-height: 18px;
      display: block;
      width: 279px;
      height: 54px;
      border-radius: 50px;
      background-color: #f2f2f2;
      font-weight: bold;
    }

    &-download {
      border: 2px solid #d22856;
      color: #d22856;
      margin-bottom: 13px;

      &:hover {
        background-color: #d22856;
        color: #ffffff;
      }

      &:active {
        background-color: #d22856;
        color: rgba(255,255,255, 0.3);
      }
    }

    &-cancel {
      border: 2px solid #dddfe0;
      color: #dddfe0;

      &:hover {
        border-color: #b5b9be;
        color: #c2c4c7;
      }

      &:active {
        background-color: #b5b9be;
        color: #cdcfd3;
      }
    }
  }

  &__function {
    display: flex;
    width: 211px;
    justify-content: space-between;
    margin-left: 29px;
    margin-bottom: 16px;
    align-content: center;

    &--bright {
      //display:flex;
      overflow:visible;
    }

    & button {
      border: none;
      background-color: inherit;
    }

    & button:nth-of-type(2) {
      margin-left:-4px;
    }

    & button:first-of-type svg {
      fill: #d22856;
    }

    & button:not(:first-of-type) svg {
      fill: #b5b9be;
    }

    & button:first-of-type:hover svg,  button:not(:first-of-type):hover svg{
      fill: #8d949b;
    }
  }

//  input[type=range] {
//    -webkit-appearance: none;
//    height: 2px;
//    background-color: #283645;
//  }
////  , ::-moz-range-thumb, ::-ms-thumb
//
//  input[type='range']::-webkit-slider-thumb{
//    -webkit-appearance: none;
//    background-color: #f2f2f2;
//    border: 2px solid #d22856;
//    width: 15px;
//    height: 15px;
//    border-radius: 50%;
//    cursor: pointer;
//  }
//
//  input[type='range']::-webkit-slider-thumb:active{
//    -webkit-appearance: none;
//    background-color: #d22856;
//  }
//
//  input[type='range']:focus {
//    outline: none;
//  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height:17px;
    background:transparent;
  }

  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #283645;
    border-radius: 0px;
    border: 0px solid #010101;
  }

  input[type=range]::-webkit-slider-thumb {
    border: 2px solid #d23556;
    height: 13px;
    width: 13px;
    border-radius: 50px;
    background: #f2f2f2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }

  input[type='range']::-webkit-slider-thumb:active{
    -webkit-appearance: none;
    background-color: #d22856;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3e546c;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #283645;
    border-radius: 0px;
    border: 0px solid #010101;
  }

  input[type=range]::-moz-range-thumb {
    border: 2px solid #d23556;
    height: 13px;
    width: 13px;
    border-radius: 50px;
    background: #f2f2f2;
    cursor: pointer;
  }

  input[type='range']::-moz-range-thumb:active{
    background-color: #d22856;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #12181e;
    border: 0px solid #010101;
    border-radius: 0px;
  }

  input[type=range]::-ms-fill-upper {
    background: #283645;
    border: 0px solid #010101;
    border-radius: 0px;
  }

  input[type=range]::-ms-thumb {
    border: 2px solid #d23556;
    height: 13px;
    width: 13px;
    border-radius: 50px;
    background: #f2f2f2;
    cursor: pointer;
  }

  input[type='range']::-ms-thumb:active{
    background-color: #d22856;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #283645;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #3e546c;
  }

  &__range {
    position: relative;
    width: 239px;

    input:not(:first-child) {
      display: none;
    }

    input:first-of-type::after {
      content: "";
      width: 319px;
      height: 1px;
      background-color: #dddfe0;
      position: absolute;
      top: 50px;
      left: -19px;
    }
  }

  &__toggle {
    margin-left: 20px;
    margin-right: 20px;
    width: 239px;
    margin-bottom: 68px;
  }
}
@media (min-width: @tablet-width) {
  .upload {
    padding-bottom: 0;
    width: 660px;
    margin: 0 auto 0;

    &__wrapper {
      width: 620px;
      margin: 57px auto 8px;
      padding-top: 60px;
      padding-bottom: 50px;
      height: 515px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      &-item {
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        margin-top: 4px;
      }
    }

    &__photo {
      width: 300px;
      height: 400px;
      padding-bottom: 0;
    }

    &__function {
      flex-direction: column;
      align-items: flex-start;
      width: 40px;
      height: 193px;
      margin-left: 0;
      margin-top:2px;

      & button {
        padding-bottom: 45px;
        width: 25px;
        height: 25px;
      }

      & button:nth-of-type(2) {
        margin-left:2px;
        margin-top: 5px;
      }

      & button:not(&--bright) svg {
        fill: #d22856;
        width: 25px;
        height: 25px;
      }

      & button:not(:first-of-type) svg {
        fill: #d22856;
      }

      &--bright svg {
        width: 17px;
        height: 22px;
        padding-left: 7px;
      }
    }

    &__toggle {
      margin-top: 12px;
    }

    &__range {
      width: 200px;
      margin-top: -5px;
      //      padding-left: 30px;

      input {
        width: 202px;
        margin-bottom: 44px;
      }

      input:nth-of-type(2), input:nth-of-type(3) {
        display: block;
        margin-bottom: 53px;
      }

      input:first-of-type::after {
        width: 275px;
        top: 56px;
        left: -36px;
      }

      input:nth-of-type(2)::after {
        width: 270px;
        left: -35px;
        top: 129px;
        height: 1px;
        background-color: #dddfe0;
        position: absolute;
        content: "";
      }

        input:nth-of-type(3)::after {
        width: 270px;
        left: -35px;
        top: 199px;
        height: 1px;
        background-color: #dddfe0;
        position: absolute;
        content: "";
      }
    }

    &__button {
      margin: 34px auto 0;

      & button {
        margin-left: -8px;
        width: 261px;
      }

      &-download {
        border: 4px solid #d22856;
        margin-bottom: 10px;
      }

      &-cancel {
        border: 4px solid #dddfe0;
      }

      &-download {
        margin-bottom: 24px;
      }
    }
  }
}
@media (min-width: @desktop-width) {
  .upload {
    width: 940px;

    &__wrapper {
      margin-top: -4px;
      width: 820px;
      margin-bottom: 26px;

      & img {
        margin-left: 21px;
      }

      &-item {
        width: 410px;
      }
    }

    &__range {
      width: 285px;
      padding-left: 15px;

      & input {
        width: 289px;
        margin-bottom: 44px;
      }

      & input:nth-of-type(2) {
        margin-bottom: 53px;
      }

      & input:first-of-type::after {
        width: 407px;
        left: -57px;
      }

      & input:nth-of-type(2)::after {
        width: 407px;
        left: -57px;
        top: 129px;
      }

      input:nth-of-type(3)::after {
        width: 407px;
        left: -57px;
        top: 199px;
      }
    }

    &__function {
      margin-left: -7px;
      height: 200px;
      width: 66px;
      margin-top: -10px;

      & button {
        padding-bottom: 45px;
        width: 50px;
        height: 45px;
      }

      & button:not(&--bright) svg {
        fill: #d22856;
        width: 50px;
        height: 45px;
      }

      & button:not(:first-of-type) svg {
        fill: #d22856;
      }
      &--bright svg {
        padding-left: 0;
        margin-left:auto;
        width: 30px;
        height: 30px;
        display:block;
      }
    }

    &__button {
      display: flex;
      justify-content: space-between;
      width: 414px;
      margin-top: 121px;
      padding-left: 11px;

      & button {
        width: 183px;
      }
    }
  }
}
